<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<!-- - -->
	<display-name>Proyecto</display-name>
	<welcome-file-list>
		<welcome-file>user/home.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
	<!-- - -->
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- - -->
		<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<!-- - -->
	<data-source>
		<name>java:global/DataSource</name>
		<class-name>oracle.jdbc.pool.OracleDataSource</class-name>
		<url>jdbc:oracle:thin:@80.28.158.14:1521:oradai</url>
		<user>VS2DAWGESTORINCIDENCIAS1</user>
		<password>VS2DAWGESTORINCIDENCIAS1</password>
		<initial-pool-size>2</initial-pool-size>
		<max-pool-size>4</max-pool-size>
		<min-pool-size>2</min-pool-size>
	</data-source>
	<!-- - -->
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>proyectojdbc</realm-name>
		<form-login-config>
			<form-login-page>/seguridad/identificate.jsp</form-login-page>
			<form-error-page>/seguridad/credencialesnovalidas.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<!-- - -->
	
	<security-role>
		<description>Rol de manager registrados para la aplicacion</description>
		<role-name>manager</role-name>
	</security-role>
	<security-role>
		<description>Rol de administrador para la aplicacion</description>
		<role-name>administrador</role-name>
	</security-role>
	<security-role>
		<description>Rol de tecnico para la aplicacion</description>
		<role-name>tecnico</role-name>
	</security-role>
	<security-role>
		<description>Rol de user para la aplicacion</description>
		<role-name>user</role-name>
	</security-role>
	<!-- - -->
	
	<security-constraint>
		<display-name>Acceso User</display-name>
		<web-resource-collection>
			<web-resource-name>Acceso User</web-resource-name>
			<description></description>
			<url-pattern>/user/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>user</role-name>
			<role-name>tecnico</role-name>
			<role-name>manager</role-name>
			<role-name>administrador</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Acceso tecnico</display-name>
		<web-resource-collection>
			<web-resource-name>Acceso tecnico</web-resource-name>
			<description></description>
			<url-pattern>/tecnico/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>	
			<role-name>tecnico</role-name>
			<role-name>manager</role-name>
			<role-name>administrador</role-name>
		</auth-constraint>
	</security-constraint>
	
	
	<security-constraint>
		<display-name>Acceso manager</display-name>
		<web-resource-collection>
			<web-resource-name>Acceso manager</web-resource-name>
			<description></description>
			<url-pattern>/manager/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>manager</role-name>
			<role-name>administrador</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Acceso administrador</display-name>
		<web-resource-collection>
			<web-resource-name>Acceso administrador</web-resource-name>
			<description></description>
			<url-pattern>/administrador/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>administrador</role-name>
		</auth-constraint>
	</security-constraint>
	<!-- - -->

</web-app>